/assignment/.vs/assignment/v16
/assignment/.vs/VSWorkspaceState.json
/assignment/.vs
/assignment/.idea
/assignment/.idea/workspace.xml
/assignment/.idea/assignment.iml
/assignment/.idea/misc.xml
/assignment/.idea/modules.xml
/assignment/.idea/vcs.xml
